[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-cloud-bigquery = "*"
pandas = "*"
pyarrow = "*"
fastapi = "*"
uvicorn = "*"
python-dateutil = "*"
pytest = "*"
orjson = "*"
pyyaml = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"
python_full_version = "3.10.13"

[scripts]
parse = "python parser.py"
dev = "uvicorn main:app"